# Project Submission

**Please use this notebook for your submission.**

Make sure to fill out all the required fields and to answer all the questions.

You will be working with a dataset that includes the results of international football matches from 1872 to 2024. The matches range from FIFA World Cups to regular friendly matches. 

At the end of this project, you will have answered the following questions:

1. What is the average number of goals for the home team? 
2. What is the average number of goals for the away team? 
3. What is the country with the highest overall home score?
4. What are the top 3 type of tournaments?
5. Which country has the highest overall FIFA World Cup goals?


**Submission Requirements:**

- Make sure that you run all cells with code in your notebook before submitting.
- You can add additional cells of code if you want, but make sure to clean up your notebook, and only leave the code required to answer the questions.


_Original Data Source: [Kaggle](https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017/data)_

## Step 1: Getting Started

You will mainly work with a Python library called Pandas. Pandas is a powerful library that allows us to manipulate data. In order to use Pandas, you first have to import it.

In [22]:
import pandas as pd
import numpy as np

## Step 2: Loading and Exporing the Data

You can use Pandas to explore and manipulate the _results.csv_ file. 
You first have to load the csv file into a Pandas dataframe, so you can then analyize the data. 

When using `pd.read_csv()`, make sure you inlcude the correct path to the csv file, depending on where you saved it when you downloaded it.

In [33]:
# First: Load the csv file into a Pandas dataframe (df)

df = pd.read_csv(r"results.csv")
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
45310,2023-11-21,Wales,Turkey,1,1,UEFA Euro qualification,Cardiff,Wales,False
45311,2023-11-21,Croatia,Armenia,1,0,UEFA Euro qualification,Zagreb,Croatia,False
45312,2023-11-21,Andorra,Israel,0,2,UEFA Euro qualification,Andorra la Vella,Andorra,False
45313,2023-11-21,Kosovo,Belarus,0,1,UEFA Euro qualification,Pristina,Kosovo,False
45314,2023-11-21,Romania,Switzerland,1,0,UEFA Euro qualification,Bucharest,Romania,False

## Step 3: Data Analysis

### Q1: What is the average number of goals for the home team?

Hint: You can call the `mean()` method on the _'home_score'_ column.

In [41]:
df['home_score'].mean

<bound method Series.mean of 0        0
1        4
2        2
3        2
4        3
        ..
45310    1
45311    1
45312    0
45313    0
45314    1
Name: home_score, Length: 45315, dtype: int64>

### Q2: What is the average number of goals for the away team?

Hint: You can call the `mean()` method on the _'away_score'_ column.

In [42]:
df['away_score'].mean

<bound method Series.mean of 0        0
1        2
2        1
3        2
4        0
        ..
45310    1
45311    0
45312    2
45313    1
45314    0
Name: away_score, Length: 45315, dtype: int64>

### Q3: What is the country with the highest overall home score?

Hint: You will need to group the data by country, then get the sum of home scores for each country. You can use the `idxmax()` function to find the index(country) with the highest sum.

In [47]:
df['country'].idxmax

<bound method Series.idxmax of 0        Scotland
1         England
2        Scotland
3         England
4        Scotland
           ...
45310       Wales
45311     Croatia
45312     Andorra
45313      Kosovo
45314     Romania
Name: country, Length: 45315, dtype: object>

### Q4: What are the top 3 type of tournaments?

Hint: You can use the `value_counts()` method to count the occurences of each unique value in the _'tournament'_ column.

In [105]:
# Code here

df.value_counts('tournament')

tournament
Friendly                                17773
FIFA World Cup qualification             8016
UEFA Euro qualification                  2815
African Cup of Nations qualification     1998
FIFA World Cup                            964
                                        ...
Copa Confraternidad                         1
TIFOCO Tournament                           1
FIFA 75th Anniversary Cup                   1
Real Madrid 75th Anniversary Cup            1
Ã‰vence CoppÃ©e Trophy                        1
Name: count, Length: 147, dtype: int64

### Q5: Which country has the highest overall FIFA World Cup goals?

To answer this question, consider breaking down your solution into 3 steps.

**5.1 Create a new dataframe (fifa_df) that only contains rows where the "tournament" column == 'FIFA World Cup'.**

In [66]:
fifa_df = ["tournament"=='fifa world cup']
df = pd.DataFrame(fifa_df)
df

       0
0  False

**5.2 In your new fifa_df, create a new _'total_score'_ column that sums _'home_score'_ + _'away_score'_ for each row.**

PS. If you get a "SettingWithCopyWarning", please ignore it.

In [69]:
total_score = ["tournament"=='fifa world cup']
df = pd.DataFrame(total_score)
df

       0
0  False

**5.3 Group your data by country, then get the sum of the _'total_score'_ column. From there, you can use `idxmax()` to find the country with the highest _'total_score'_.**

In [73]:
# Code here

df[total_score].idxmax

<bound method DataFrame.idxmax of Empty DataFrame
Columns: [0]
Index: []>