# Project Submission

**Please use this notebook for your submission.**

Make sure to fill out all the required fields and to answer all the questions.

You will be working with a dataset that includes the results of international football matches from 1872 to 2024. The matches range from FIFA World Cups to regular friendly matches. 

At the end of this project, you will have answered the following questions:

1. What is the average number of goals for the home team? 
2. What is the average number of goals for the away team? 
3. What is the country with the highest overall home score?
4. What are the top 3 type of tournaments?
5. Which country has the highest overall FIFA World Cup goals?


**Submission Requirements:**

- Make sure that you run all cells with code in your notebook before submitting.
- You can add additional cells of code if you want, but make sure to clean up your notebook, and only leave the code required to answer the questions.


_Original Data Source: [Kaggle](https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017/data)_

## Step 1: Getting Started

You will mainly work with a Python library called Pandas. Pandas is a powerful library that allows us to manipulate data. In order to use Pandas, you first have to import it.

In [99]:
import pandas as pd

## Step 2: Loading and Exporing the Data

You can use Pandas to explore and manipulate the _results.csv_ file. 
You first have to load the csv file into a Pandas dataframe, so you can then analyize the data. 

When using `pd.read_csv()`, make sure you inlcude the correct path to the csv file, depending on where you saved it when you downloaded it.

In [100]:
# First: Load the csv file into a Pandas dataframe (df)

df = pd.read_csv(r"results.csv")

In [101]:
# Explore the df

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

## Step 3: Data Analysis

### Q1: What is the average number of goals for the home team?

Hint: You can call the `mean()` method on the _'home_score'_ column.

In [111]:
# Code here

df.groupby(['home_score'])

### Q2: What is the average number of goals for the away team?

Hint: You can call the `mean()` method on the _'away_score'_ column.

In [103]:
# Code here
df.groupby(['away_score'])

### Q3: What is the country with the highest overall home score?

Hint: You will need to group the data by country, then get the sum of home scores for each country. You can use the `idxmax()` function to find the index(country) with the highest sum.

In [104]:
# Code here
df.groupby('country').mean('country')

             home_score  away_score   neutral
country
Afghanistan    0.875000    1.375000  0.250000
Albania        1.131148    1.142077  0.043716
Algeria        1.973684    0.767544  0.070175
Andorra        0.411765    2.117647  0.000000
Angola         1.511765    0.788235  0.200000
...                 ...         ...       ...
Zambia         2.055970    0.865672  0.108209
Zanzibar       1.205882    2.058824  0.411765
Zaïre          1.915254    0.728814  0.084746
Zimbabwe       1.510870    0.885870  0.146739
Éire           1.714286    1.428571  0.000000

[268 rows x 3 columns]

### Q4: What are the top 3 type of tournaments?

Hint: You can use the `value_counts()` method to count the occurences of each unique value in the _'tournament'_ column.

In [105]:
# Code here

df.value_counts('tournament')

tournament
Friendly                                17773
FIFA World Cup qualification             8016
UEFA Euro qualification                  2815
African Cup of Nations qualification     1998
FIFA World Cup                            964
                                        ...
Copa Confraternidad                         1
TIFOCO Tournament                           1
FIFA 75th Anniversary Cup                   1
Real Madrid 75th Anniversary Cup            1
Évence Coppée Trophy                        1
Name: count, Length: 147, dtype: int64

### Q5: Which country has the highest overall FIFA World Cup goals?

To answer this question, consider breaking down your solution into 3 steps.

**5.1 Create a new dataframe (fifa_df) that only contains rows where the "tournament" column == 'FIFA World Cup'.**

In [106]:
# Code here

df.info('tournament')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

**5.2 In your new fifa_df, create a new _'total_score'_ column that sums _'home_score'_ + _'away_score'_ for each row.**

PS. If you get a "SettingWithCopyWarning", please ignore it.

In [107]:
# Code here

df.groupby('home_score')['away_score'].sum()

home_score
0     15812
1     16407
2     11240
3      5343
4      2498
5      1077
6       522
7       228
8       113
9        87
10       28
11       17
12        5
13        5
14        5
15        4
16        0
17        0
18        0
19        0
20        0
21        1
22        0
24        0
30        0
31        0
Name: away_score, dtype: int64

**5.3 Group your data by country, then get the sum of the _'total_score'_ column. From there, you can use `idxmax()` to find the country with the highest _'total_score'_.**

In [108]:
# Code here

df.info('country')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45315 entries, 0 to 45314
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45315 non-null  object
 1   home_team   45315 non-null  object
 2   away_team   45315 non-null  object
 3   home_score  45315 non-null  int64
 4   away_score  45315 non-null  int64
 5   tournament  45315 non-null  object
 6   city        45315 non-null  object
 7   country     45315 non-null  object
 8   neutral     45315 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

In [109]:
print(df.idxmax())

date          45259
home_team     15948
away_team     15964
home_score    24160
away_score    27753
tournament      163
city          37610
country        2162
neutral          68
dtype: int64